body {
	background-color: rgba(164, 211, 255, 0.71);
}

.aboutMe {
  text-align: center;
  font-family: 'Old Standard TT', serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: 0 25px;
}

.aboutMe h5 {
  text-align: justify;
}

.profilePicture {
	height: 300px;
  width: 300px;
  padding: 0 auto;
  border: 7px solid white;
  border-radius: 500px;
}

header {
  background-image: url("splash.jpeg");
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
 }

 a {
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px #000000;  
}

h2 {
  border-bottom: white thick dotted;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;    
}

h3 {
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 4px #000000;
  
}

a {
  display: inline-block;
  width: 100%;
  height: 100%
}

.columns {
  text-align: center;
  margin: auto 0;
}

.button {
  width: 30%;
  background-color: rgba(164, 211, 255, 0.5);
  height: 40px;
  text-align: center;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.navButtons {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background:rgb(164, 211, 255);
  flex-wrap: wrap
}

.navButtons .button:hover {
  background-color: white;
  background:rgba(0, 0, 0, 0.5);
}

footer .button:hover {
  background-color: white;
  background:rgb(86, 109, 131);  
}

footer {
  /* position: absolute; */
  right: 0;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background:rgb(164, 211, 255);
  text-align: center;
  color: white
}

footer a {
  color: white
}

  @media (max-width: 500px) {
	h1 {
        font-size: 36px;
      }
    li{
        display: block;
        padding: 5px;
      }
}